@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to bottom, #ffffff, #00008b);
  overflow-y: auto; 
}

* {
  font-family: "Oxygen", sans-serif;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

a:hover {
  color: #535bf2;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.links a {
  text-decoration: none;
  color: #00008b;
  font-weight: bold;
}

.links a:hover {
  color: #ff0000; 
}

.myDescription {
  color: #000000;
}


